html,
body {
    height: 100%;
}

.profile {
    position: fixed;
    padding: 0;
    z-index: 1;
}

.intro {
    background-image: url("../images/profile-photo.jpg");
    background-size: cover;
    background-position: center top;
    height: 100vh;
}

.image-overlay {
    background-image: linear-gradient(45deg, rgba(153, 50, 153, 0.8), rgba(0, 255, 255, 0.3));
    height: 100%;
}

.profile-content {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10%;
    z-index: 1;
    right: 0;
}

.social-links .icon {
    color: #fff;
    padding: 12px;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.social-links .icon:hover {
    transform: scale(1.5);
}

/*skills*/
section {
    padding: 16px;
}

section.my-skills {
    background-color: #f9f9f9;
}

/*education*/
ul.timeline {
    list-style-type: none;
    position: relative;
}

/*line*/
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    position: absolute;
    display: inline-block;
    width: 2px;
    left: 20px;
    height: 100%;
}

ul.timeline li {
    margin: 20px 0;
    padding-left: 10px;
}

/*circle*/
ul.timeline li:before {
    content: ' ';
    background: #fff;
    position: absolute;
    left: 11px;
    border-radius: 50%;
    height: 20px;
    margin: 8px 0;
    width: 20px;
    border: 3px solid green;
}

ul.timeline .card {
    max-width: 20rem;
}

/*arrow*/
ul.timeline .card:before {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
    z-index: 1;
    left: -10px;
    margin: 7px 0;
    border: medium solid #343a40;
    border-width: 10px 10px 10px 0;
    border-color: transparent #343a40 transparent transparent;
}

@media screen and (max-width: 800px) {
    .profile {
        position: relative;
    }
}